.settings
.metadata
.classpath
.project
.springBeans
.factorypath
.apt_generated
.externalToolBuilders
.idea
.tmp
dependency-reduced-pom.xml
build
bin
target
classes
*.class
**/*.iml
*.log
1_0-SNAPSHOT.html
configuration.properties
